---
layout: landing

---

<div class="post-list">
    {% for post in site.posts %}
      <a class = "post-link" href="{{ post.url | prepend: site.baseurl }}">
          <div class="post-icon">
            {% if post.icon %}
              <i class = "fa fa-{{post.icon}}"></i>
            {% endif %}
            </div>
          <div class="post-info" >
            <div class = "post-title">{{ post.title }}</div>
            <div class="post-date">{{post.categories}} &times; {{ post.date | date: "%b %-d, %Y" }}</div>
          </div>
      </a>
    {% endfor %}

</div>
